@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    background-color: rgb(205, 221, 252);
}

.container {
    display: flex;
}

.index-image {
    max-width: 100%;
    min-height: 40%;
    max-height: 40%;
    object-fit: cover;
}

.col-md-4 {
    width: 300px;
    height: 500px;
}

.col-md-9 {
    width: 100%;
}

.row {
    width: 100%;
    justify-content: space-evenly;
}

.row.gy-2 {
    width: 100%;
    justify-content: space-between;
}

.card {
    height: 100%;
}

.text-capitalize {
    height: 10em;
    width: 100%;
    margin-bottom: 0;
    overflow: auto;
}

.date-text {
    font-size: 14px;
    text-align: end;
    margin-top: 0em;
    margin-bottom: 0em;
}

.text-center {
    width: 100%;
    height: 40%;
}

.username {
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(24, 62, 131);
}

.show-image {
    height: 100px;
    object-fit: fill;
}

.col-md-8.comments,
.col-md-4.comments {
    background-color: rgb(212, 246, 255);
    height: 500px;
    overflow: auto;
}

#commenter {
    color: rgb(55, 81, 194);
}

.comment-time {
    text-align: end;
}

.workout-show {
    height: 57%;
}

.comment-form {
    max-height: 100%;
    justify-content: space-evenly;
}

.comment-box {
    height: 450px;
}

#id_comment {
    height: 400px;
}

.logout,
.like-icon,
.profile-icon,
.create-icon {
    width: 22px;
}

.logo {
    width: 28px;
}
