{% extends 'posts/base.html' %}
{% block body %}
<div class="text-center">
    <h1> <a class="index-user" aria-current="page"
            href="{% url 'accounts:other_profile_show' user_id=post.name_id %}">{{post.name}}
        </a></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{post.image.url}}" class="index-image" /><br />
                <div class="workout-show">
                    <a href="{% url 'posts:post_show' post.id %}" class="text-decoration-none">
                        <p class="hide-text">
                            {{post.get_workout}} </p>
                        <ul class="text-capitalize workout-show">
                            {%for workout in post.get_workout %}
                            <li>
                                {{workout}}</li>{%endfor%}
                        </ul>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-5 comments rounded">
            {% for comment in comments %}
            <br />
            <p class="comment-text">
                <span id="commenter">{{comment.name}}: </span> {{comment.comment}}
            </p>
            <p class="date-text">{{comment.created_at|date:'d M Y' }}</p>
            <hr />
            {% empty %}
            <br />
            <div class="empty alert alert-light" role="alert">
                Be the first to comment!
            </div>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div class="comment-form">
                <form action="{% url 'posts:comment_create' post.id %}" method="post">
                    {% csrf_token %}
                    {% for field in comment_form %}
                    <div class="row mb-3 comment-box">

                        {{field.label_tag}}
                        {{field}}
                        <div class="text-danger">
                            {{field.errors}}
                            {{ form.non_field_errors }}
                        </div>
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                </form>
            </div>
        </div>
    </div>


</div> {% endblock body %}