{% extends 'posts/base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="index-user" aria-current="page"
                href="{% url 'accounts:other_profile_show' user_id=post.name_id %}">{{post.name}}
            </a>
            <img src="{{post.image.url}}" class="index-image" />
            <div class="workout-show">
                <a href="{% url 'posts:post_show' post.id %}" class="text-decoration-none">
                    <p class="text-capitalize">
                        {{post.workout}}

                    </p>
                </a>
            </div>
        </div>


        <div class="col-md-4">
            {% for comment in comments %}

            <p class="comment-text">
                COMMENT: {{comment.comment}}
            </p>
            <p class="commenter">USER:
                {{comment.name}}
            </p>
            <br />
            {% endfor %}

        </div>

        <div class="col-md-4">
            <div class="comment-form">
                <form action="{% url 'posts:comment_create' post.id %}" method="post">
                    {% csrf_token %}
                    {% for field in comment_form %}
                    <div class="row mb-3">

                        {{field.label_tag}}
                        {{field}}
                        <div class="text-danger">
                            {{field.errors}}
                            {{ form.non_field_errors }}
                        </div>
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button>Send Comment</button>
                </form>
            </div>
        </div>
    </div>


</div> {% endblock body %}