{% extends 'posts/base.html' %}

{% block body %}
<div class="text-center">
    <h1> {{post.name}} </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">

            <img src="{{post.image.url}}" class="index-image" />
            <div class="workout-show">
                {{post.workout}}
            </div>
            {% if request.user.is_superuser %}
            <a href="{% url 'posts:post_show' post.id %}?action=del">Delete</a>
            {% endif %}
        </div>
        <br />
        <div class="comment-container">
            this is the comments section
            <br />
            insert comments here
            <br />
            others.html
        </div>
    </div>
</div>
{% endblock body %}